[submodule "themes/potato-dark"]
	path = themes/potato-dark
	url = https://github.com/surajmandalcell/potato-dark
[submodule "themes/blank"]
	path = themes/blank
	url = https://github.com/vimux/blank
[submodule "public"]
	path = public
	url = https://github.com/jmorag/jmorag.github.io.git
	branch = master
